#jinja2: lstrip_breaks: True
# Allow users to invoke 'mount'
vfs.usermount=1
# ZFS block offset
vfs.zfs.min_auto_ashift=12
# Allow users to create TUN/TAP interfaces in order to run VMs
net.link.tap.user_open=1

